name: savebite-be

on: push

jobs:
  deploy:
    name: Build and Deploy (Self Hosted)
    runs-on: [self-hosted, linux, x64]

    permissions:
      contents: read
      packages: write

    steps:
      - name: Checkout Source Code
        uses: actions/checkout@v5

      - name: Login to Github Container Registry
        uses: docker/login-action@v3
        with:
          registry: ghcr.io
          username: ${{ github.actor }}
          password: ${{ secrets.PAT }}

      - name: Build and Push Image
        uses: docker/build-push-action@v6
        with:
          context: .
          push: true
          tags: |
            ghcr.io/${{ github.repository }}:${{ github.sha }}
            ghcr.io/${{ github.repository }}:latest

      - name: Create .env File
        run: |
          printf '%s' '${{ secrets.ENV }}' > .env

      - name: Deploy with Docker Compose
        run: |
          make compose-up
